.components-container {
    display: flex;
    height: 100vh; /* Full height of the viewport */
  }
  
  .sidebar {
    width: 250px; /* Fixed width for the sidebar */
    background-color: var(--primarycolor);
    padding: 20px; /* Padding around the sidebar */
    position: fixed; /* Make the sidebar fixed */
    left: 0; /* Align it to the left */
    top: 80px; /* Start from the top */
    bottom: 0; /* Extend to the bottom */
    font-size: x-large;
  }
  
  .sidebar h2 {
    margin-top: 0; /* Remove default margin for the header */
  }
  
  .sidebar ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
  }
  
  .sidebar li {
    padding: 10px; /* Padding for each list item */
    border-radius: 10px;
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.3s; /* Smooth transition for hover */
  }
  .sidebar li.selected {
    background-color: var(--primarydarkcolor); /* Change to your preferred highlight color */
    color: white; /* Change text color for better contrast */
  }
  .sidebar li:hover {
    padding: auto;
    background-color: var(--primarydarkcolor); /* Change background on hover */
  }
  
  .main-content {
    flex-grow: 1; /* Take up remaining space */
    background-color: var(--primarydarkcolor);
    margin-left: 250px; /* Leave space for the sidebar */
    padding: 20px; /* Padding around the main content */
  }
  
  .example-container {
    margin-top: 20px; /* Space above example */
    border: 1px solid #ccc; /* Border around example */
    padding: 10px; /* Padding inside example */
    border-radius: 5px; /* Rounded corners */
  }
  